<p>header</p>
<nav>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/list">List</a></li>
  <li><a routerLink="/directives">Directives</a></li>
  <li><a routerLink="/if-render">If Render</a></li>
  <li><a routerLink="/eventos">Events</a></li>
  <li><a routerLink="/emitter">Emitter</a></li>
  <li><a routerLink="/pipes">Pipes</a></li>
  <li><a routerLink="/two-way-binding">Two way binding</a></li>
</nav>
<h1>Hello World Angular!</h1>
<h2>Testando H2</h2>
<p>Alguma coisa</p>
<div>
  <a href="#">Clique Aqui!</a>
</div>
<router-outlet></router-outlet>
<app-parent-data [userName]="userName" [userData]="userData"></app-parent-data>
<p>footer</p>
